:root{
    /* Colors */
    --base-color:#FFFFFF;
    --light-grey: #667085;
    --grey-600: #3A404E;
    --red: #8E2424;
    
     /* text */
    --font-inter: 'Inter';
    --light: 400;
    --medium: 500;
    --semi-bold: 600;
    --regular-text: 16px;
    --medium-text: 18px;
    --large-text: 48px;
}

body{
    font-family: var(--font-inter);
    font-weight: var(--medium);
    min-height: 100vh;
    width: 100vw;
}

.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items:center; 
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    color: var(--grey-600);
    margin-left: 5px;
}

.menu{
    align-items: center;
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
}

.menu-item{
    color: var(--light-grey);
}

.navbtn{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.btn{
    width: 112px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    line-height: 44px;
    text-align: center;
}

.btn-enter{

}

.btn-sign{
    color: var(--base-color);
    background-color: var(--red);
}

