:root{
    /* Colors */
    --base-color:#FFFFFF;
    --light-grey: #667085;
    --grey-600: #3A404E;
    --red: #8E2424;
    
     /* text */
    --font-inter: 'Inter';
    --light: 400;
    --medium: 500;
    --semi-bold: 600;
    --regular-text: 16px;
    --medium-text: 18px;
    --large-text: 48px;
}

body{
    font-family: var(--font-inter);
    font-weight: var(--medium);
    min-height: 100vh;
    width: 100vw;
}

.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items:center; 
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    color: var(--grey-600);
    margin-left: 5px;
}

.menu{
    align-items: center;
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
}

.menu-item{
    color: var(--light-grey);
}

.navbtn{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.btn{
    width: 112px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    line-height: 44px;
    text-align: center;
}   

.btn-sign{
    color: var(--base-color);
    background-color: var(--red);
}

.section_titulo{
    width: 100%;
    padding-top: 10vh;
}

.section_titulo h1{
    color: #8E2424;
    font-weight: var(--semi-bold);
    font-size: var(--regular-text);
    line-height: 24px;
    text-align: center;
    
}

.section_titulo h3{
    color: var(--grey-900);
    font-weight: var(--semi-bold);
    font-size: var(--large-text);
    margin: 64px auto 0;
    text-align: center;
}

.section_titulo p{
    font-weight: var(--light);
    width: 50%;
    font-size: 20px;
    color: var(--light-grey);
    text-align: center;
    margin: 56px auto 0;
    line-height: 30px;
}

